<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<link rel="icon"
	      type="image/ico"
	      href="https://mkos.pl/favicon.ico">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114898276-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-114898276-1');
	</script>

		<title>{{ site.title }} {{ site.subtitle }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
		<noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript>

		<!-- Custom head content -->
		<!-- This file will be included in the head section of your HTML -->

		<!-- Load custom CSS after theme CSS to allow overrides -->
		<link rel="stylesheet" href="{{ 'assets/css/custom.css' | absolute_url }}">
		<!-- Load mobile-fix.css to apply specific fixes for mobile devices -->
		<link rel="stylesheet" href="{{ 'assets/css/mobile-fix.css' | absolute_url }}">
		<link rel="stylesheet" href="{{ "assets/css/waveicon.css" | absolute_url }}">
</head>
